@import 'sweetalert2/dist/sweetalert2.css';
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "flatpickr/dist/flatpickr.min.css";
@import "@yaireo/tagify/src/tagify.scss";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import './treeview.scss';
@import './filemanager.scss';

.menu {
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-sub {
        padding-left: 15px;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.modal:nth-last-child(2) {
    z-index: 1062 !important;
}

.modal-backdrop:nth-last-child(1) {
    z-index: 1061 !important;
}

.table {

    .cell-header,
    .cell-data {
        display: inline-block;
    }

    .action-header,
    .action-data {
        display: inline-block;
        white-space: nowrap;
        padding: 1px 6px;
    }

    tr {
        td {
            &:last-child {
                width: 5%;
                min-width: 100px;
            }
        }
    }
}

.form-filter-column {
    position: absolute;
    right: 10px;
    background: #ccc;
    z-index: 10px;
    border: 1px solid #111;
    border-radius: 2px;
    padding: 0 5px;

    p {
        margin: 0 !important;
    }
}

.language-selector {
    clear: both;

    ul {
        float: unset !important;

        li {
            float: unset !important;
        }
    }
}

.el-image {
    min-width: 100px;
    min-height: 150px;
    background: #eee;
    padding: 0;
    position: relative;

    &:hover {
        background: #ccc;
        cursor: pointer;
    }

    img {
        width: 100%;
    }

    input {
        &:hover {
            cursor: pointer;
        }

        opacity: 0;

        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

        /* IE 5-7 */
        filter: alpha(opacity=0);

        /* Netscape or and older firefox browsers */
        -moz-opacity: 0;

        /* older Safari browsers */
        -khtml-opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    progress {
        width: 100%;
    }
}

.error {
    color: red;
}

.bg-dark {
    background-color: #0d1b48 !important;
}

.ql-editor {
    background: #fff;
    min-height: 200px;
}