.el-filemanager {
    width: 100%;
    background-color: #fff;
    border: #ccc 1px solid;
    display: flex;
    flex-direction: column;
    flex-basis: auto;

    &__toolbar {
        height: 45px;
        background: #288AE1;
        flex: none;
    }

    &__body {
        display: flex;

        &--folder {
            width: 300px;
            flex: none;
            min-height: 200px;

            .active>div {
                background: #288AE1 !important;
            }
        }

        &--file {
            flex: auto;
            display: flex;

            .file-property {
                flex: none;
                width: 250px;
                min-height: 100%;
                padding: 5px;

                .property-item {
                    .property-key {
                        font-weight: 700;
                        padding: 1px;
                        margin: 0;
                    }

                    .property-value {
                        text-align: left;
                        padding: 1px;   
                        margin: 0;
                        word-wrap: break-word;
                    }
                }
            }

            .file-list {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                display: flex;
                flex-wrap: wrap;
                flex: auto;

                .file-info {
                    // border: #288AE1 1px solid;
                    border-radius: 2px;
                    width: 120px;
                    height: 150px;
                    margin: 2px;
                 

                    &:hover,
                    &.active {
                        background: #dbe1e6;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    .file-icon {
                        text-align: center;

                        height: 100px;

                        .bi {
                            color: #288AE1;
                            font-size: 75px;
                        }
                    }

                    .file-name {
                        height: 50px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        text-align: center;
                        padding: 1px;   
                        word-wrap: break-word;

                    }
                }
            }

        }
    }

    &__footer {
        height: 40px;
        background: #288AE1;
        flex: none;
    }
}